<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Assignment</title>
</head>

<body>
	<!--Import jQuery before materialize.js-->
	<header>
		<ul id="slide-out" class="sidenav sidenav-fixed">
			<li class="logo">
				<a href="" class="brand-logo">Logo</a>
			</li>
      <li>
      	<!-- template for chapters -->
      	<ul class="collapsible grade" data-collapsible="accordion" id="grades-list-accordian">

      		<script id="grades-list-template" type="text/template">
	      		<% for(var i = 0;i< gradesList.length; i++){ %>
		      		<li class="grade" data-grade-id="<%= i %>">
		      			<div class="collapsible-header">
		      				<span><i class="material-icons">filter_drama</i> 
		      					<%= gradesList[i].name %>
		      				</span>
		      			</div>
		      			<div class="collapsible-body">
									<ul class="collapsible subjects" data-collapsible="accordion">
										<% for(var j=0; j< gradesList[i].subjectList.length; j++){ %>
											<li class="subject" data-subject-id="<%= j %>">
												<div class="collapsible-header">
													<i class="material-icons">book</i>
													<%= gradesList[i].subjectList[j].name %>
												</div>
												<div class="collapsible-body">
													<ul class="chapters">
														<% for(var k=0; k< gradesList[i].subjectList[j].chapterList.length; k++){ %>
															<li class="chapter" data-chapter-id="<%= k %>">
																<a href="#">
																	<i class="material-icons">chevron_right</i> 
																	<%= gradesList[i].subjectList[j].chapterList[k].name %>
																</a>
															</li>
														<% } %>
									      		<li class="chapters" style="background: white;">
									      			<div class="row mb-none">
									      				<div class="input-field col s9">
												          <input id="input-chapter" type="text">
												          <label for="input-chapter">Add new chapter</label>
												        </div>
												        <div class="col s3">
												        	<button class="btn-floating waves-effect waves-ligh" style="margin-top: 1rem;margin-bottom: 1rem;" id="btn-chapter">
												        		<i class="material-icons">add</i>
												        	</button>
												        </div>
									      			</div>
									      		</li>
													</ul>
												</div>
											</li>
										<% } %>
					      		<li class="subject">
					      			<div class="row mb-none">
					      				<div class="input-field col s9">
								          <input id="input-subject" type="text">
								          <label for="input-subject">Add new subject</label>
								        </div>
								        <div class="col s3">
								        	<button class="btn-floating waves-effect waves-ligh" style="margin-top: 1rem;margin-bottom: 1rem;" id="btn-subject">
								        		<i class="material-icons">add</i>
								        	</button>
								        </div>
					      			</div>
					      		</li>
									</ul>
		      			</div>
		      		</li>
	      		<%}%>
	      		<li class="grade">
	      			<div class="row mb-none">
	      				<div class="input-field col s9">
				          <input id="input-grade" type="text">
				          <label for="input-grade">Add new grade</label>
				        </div>
				        <div class="col s3">
				        	<button class="btn-floating waves-effect waves-ligh" style="margin-top: 1rem;margin-bottom: 1rem;" id="btn-grade">
				        		<i class="material-icons">add</i>
				        	</button>
				        </div>
	      			</div>
	      		</li>
      		</script>
					<!-- script tag ends -->
      	</ul>
      </li>
            
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
	</header>
	
	<main>
		<div id="page-header-container"></div>
		<script id="page-header-template" type="text/template">
				<% if (curChap != undefined){ %>
					<div class="page-header">
						<p>
							<span><%= gradesList[curGrade].name %> </span>
							<i class="material-icons">chevron_right</i>
							<span><%= gradesList[curGrade].subjectList[curSub].name %></span>
							<i class="material-icons">chevron_right</i>
							<span><%= gradesList[curGrade].subjectList[curSub].chapterList[curChap].name %></span>
						</p>
					</div>
				<% } else{%>
					<h4 class="text-muted" id="placeholder-text">Select a Chapter to display some questions :)</h4>
				<% } %>
		</script>

		<div class="container">
			
			<div class="row" id="questions-container">
					
					<script id="question-card-template" type="text/template">
						<% for(var i = 0;i< gradesList.length; i++){ %>
							<% for(var j=0; j< gradesList[i].subjectList.length; j++){ %>
								<% for(var k=0; k< gradesList[i].subjectList[j].chapterList.length; k++){ %>
									<% for(var l=0; l< gradesList[i].subjectList[j].chapterList[k].questionList.length; l++){ %>
										<div class="col s12 <%=i%>-<%=j%>-<%=k%>" style="display: none;">
											<div class="card question-card" data-question-id="<%=l%>">
											  <div class="card-content">
											    <p class="question">
											    	<%= gradesList[i].subjectList[j].chapterList[k].questionList[l].question %>
											    </p>
											    <p class="answer">
											    <%= gradesList[i].subjectList[j].chapterList[k].questionList[l].answer %>
											  </div>
											</div>
										</div>
									<% } %>
								<% } %>
							<% } %>
						<% } %>
					</script>

			</div>
			          
		</div>
		<!-- card -->

		<div class="fixed-action-btn">
		  <a class="btn-floating btn-large orange tooltipped" data-position="left" data-tooltip="Add Ques /Chap /Sub /Grade">
		    <i class="large material-icons">add</i>
		  </a>
		</div>
		      
	</main>
	<footer></footer>
	<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>