<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Assignment</title>
</head>

<body>
	<!--Import jQuery before materialize.js-->
	<header>
		<ul id="slide-out" class="sidenav sidenav-fixed">
			<li class="logo">
				<a href="" class="brand-logo">Logo</a>
			</li>
      <li>
      	<!-- template for chapters -->
      	<ul class="collapsible grade" data-collapsible="accordion" id="grades-list-accordian">

      		<script id="grades-list-template" type="text/template">
	      		<% for(var i = 0;i< gradesList.length; i++){ %>
		      		<li class="grade" data-grade-id="<%= i %>">
		      			<div class="collapsible-header">
		      				<span><i class="material-icons">filter_drama</i> 
		      					<%= gradesList[i].name %>
		      				</span>
		      			</div>
		      			<div class="collapsible-body">
									<ul class="collapsible subjects" data-collapsible="accordion">
										<% for(var j=0; j< gradesList[i].subjectList.length; j++){ %>
											<li class="subject" data-subject-id="<%= j %>">
												<div class="collapsible-header">
													<i class="material-icons">book</i>
													<%= gradesList[i].subjectList[j].name %>
												</div>
												<div class="collapsible-body">
													<ul class="chapters">
														<% for(var k=0; k< gradesList[i].subjectList[j].chapterList.length; k++){ %>
															<li class="chapter" data-chapter-id="<%= k %>">
																<a href="#">
																	<i class="material-icons">chevron_right</i> 
																	<%= gradesList[i].subjectList[j].chapterList[k].name %>
																</a>
															</li>
														<% } %>
													</ul>
												</div>
											</li>
										<% } %>
									</ul>
		      			</div>
		      		</li>
	      		<%}%>
      		</script>
					<!-- script tag ends -->
      	</ul>
      </li>
            
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
	</header>
	
	<main>
		<div class="page-header">
			<h3>
				<span>Class 11 </span>
				<i class="material-icons">chevron_right</i>
				<span>Subject</span>
				<i class="material-icons">chevron_right</i>
				<span>Chapter 1</span>
			</h3>
		</div>
		<div class="container">
			
			<div class="row">
			  <div class="col s12">

			    <div class="card question-card">
			      <div class="card-content">
			        <p class="question">I am a very simple card. I am good at containing small bits of.</p>
			        <p class="answer">
			        I am convenient because I require little markup to use effectively.</p>
			      </div>
			    </div>

			  </div>
			</div>
			          
		</div>
		<!-- card -->

		<div class="fixed-action-btn">
		  <a class="btn-floating btn-large orange tooltipped" data-position="left" data-tooltip="Add Ques /Chap /Sub /Grade">
		    <i class="large material-icons">add</i>
		  </a>
		</div>
		      
	</main>
	<footer></footer>
	<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>